{% extends "layout.html" %}
{% block main %}
    {% load staticfiles %}
    <!--  Home wrap  -->
    <div id="page-content" class="home-wrap">
        <div class="container">

                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                        <h1>About</h1>
                    </div>
                </div>

            <!--  Services  -->
            <section id="services" class="padding-md">
                <div class="row">
                    <div class="col-md-4">
                        <h2 class="big">
                            What <br> We do
                        </h2>
                        <p class="color-dark">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat eius
                            sint error deserunt cum repudiandae natus culpa expedita quidem, nostrum!</p>
                    </div>
                    <div class="col-md-7 col-md-offset-1">
                        <div class="col-xs-6">
                            <div class="service">
                                <i class="icon ion-ios-analytics-outline"></i>
                                <h3>Web Design</h3>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="service">
                                <i class="icon ion-ios-bookmarks-outline"></i>
                                <h3>Branding</h3>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="service">
                                <i class="icon ion-ios-cart-outline"></i>
                                <h3>Development</h3>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="service">
                                <i class="icon ion-ios-pulse"></i>
                                <h3>Marketing</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--  END Services  -->
        </div>
        <!--  END Home wrap  -->
    </div>
{% endblock %}