<!--  Footer  -->
<footer class="padding-sm">
    <div class="container">
        <div class="back-to-top">
            <a href="#top"><i class="icon ion-ios-arrow-up"></i></a>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h3>A Hack by Jer</h3>
            </div>
            <div class="col-md-6 text-right">
                <ul class="social">
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">Linkedin</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<!--  END Footer  -->