<!--  Header & Menu  -->
<header class="sticky-header">
    <nav class="navbar navbar-default">
        <div id="logo">
            <a class="navbar-brand" href="/">
                Tech Underground Fresno
            </a>
        </div>
        <div id="navbar">
            <div class="menu-button">
                <span class="bar bar-1"></span>
                <span class="bar bar-2"></span>
                <span class="bar bar-3"></span>
            </div>
        </div>
    </nav>
    <div id="menu">
        <div class="container">
            <div class="menu-holder">
                <ul>
                    <li class="submenu">
                        <a href="/">Home</a>
                        <a href="/blog/">Blog</a>
                        <a href="/about/">About</a>
                        {#                                    <ul class="sub-menu">#}
                        {#                                        <li><a href="/">Home</a></li>#}
                        {#                                        <li><a href="/blog">Blog</a></li>#}
                        {#                                    </ul>#}
                    </li>


                </ul>
            </div>
        </div>
    </div>
</header>
<!--  END Header & Menu  -->