{% extends 'layout.html' %}
{% block main %}
    <!--  Page wrap  -->
    {% load staticfiles %}
    <div id="page-content" class="page-wrapper">
        <div class="container">
            <!--  Page header  -->
            <section class="project-header padding-onlybottom-lg">
                <!--  Project Carousel  -->
                <div class="project-carousel">
                    <div class="item">
                        <img src="{{ post.image.url }}" alt="client logo">
                    </div>
{#                    <div class="item">#}
{#                        <img src="{{ post.image.url }}" alt="client logo">#}
{#                    </div>#}
{#                    <div class="item">#}
{#                        <img src="{% static 'assets/img/project3.jpg' %}" alt="client logo">#}
{#                    </div>#}
                </div>
                <!--  END Project Carousel  -->
                <!--  Project Info  -->
                <div class="col-md-10 col-md-offset-1 inner-content padding-onlybottom-md">
                    <h1 class="big padding-onlytop-lg">{{ post.title }}</h1>
                    <h2 class="padding-onlytop-md">{{ post.body|safe  }}</h2>
                </div>
                <div class="col-md-10 col-md-offset-1 inner-content info-project padding-topbottom-null">
                    <section class="meta-info">
                    {% if post.tags.all %}
                        <div class="col-md-6">
                            <h3 class="small">Tagged</h3>
                            <ul>
                                {% for t in post.tags.all %}
                                <li><a href="#">{{ t }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                        <div class="col-md-6">
                            <h3 class="small">Share via</h3>
                            <ul>
                                <li><a href="#">Twitter</a></li>
                                <li><a href="#">Facebook</a></li>
                                <li><a href="#">Google+</a></li>
                            </ul>
                        </div>
                    </section>
                </div>
                <!--  Project Info  -->
            </section>
            <!--  END Page Header  -->
        </div>
    </div>
    </div>
    <!--  END Content  -->
    <!--  Navigation  -->
    <div class="container">
        <div class="col-md-10 col-md-offset-1 inner-content padding-onlybottom-lg">
            <div class="section-navigation">
                <div class="col-xs-6">
{#                    {% if post.get_previous_by_created_at %}#}
                    <div class="nav-left">
                        <a href="{{post.get_previous_by_pub_date}}"><em>Prev project</em></a>
                        <hr>
                    </div>
{#                    {% endif %}#}
                </div>
                <div class="col-xs-6">
{#                    {% if post.get_next_by_created_at %}#}
                    <div class="nav-right">
                        <a href="{{post.get_next_by_pub_date}}"><em>Next project</em></a>
                        <hr>
                    </div>
{#                    {% endif %}#}
                </div>
            </div>
        </div>
    </div>
    <!--  END Navigation  -->

{% endblock %}